.chart {
  background-color: white;
  color: black;
  margin-left: 25px;
  margin-right: 35px;
}
.chart-body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.chart-body-left {
  width: 70%;
  display: inline-block;
  float: left;
}
.chart-body-left-day {
  font-size: smaller;
}

.chart-body-right {
  width: 17%;
  float: left;
}

.btn-outline-secondary {
  color: #75797e;
  border-color: #ced2d8;
  border-radius: 3px;
  line-height: 2;
  width: 50px;
  cursor: pointer;
  background-color: white;

  transition: all 0.2s;
}
.btn-outline-secondary:hover {
  background-color: #ebedef;
}

.btn-outline-secondary-2 {
  background-color: #ebedef;
  /* font-size: smaller; */
}
.chart-body-end {
  background-color: #321fdb;
  border: none;
  height: 28px;
  width: 45px;
  border-radius: 3px;
  float: left;
  margin-top: 2px;
  cursor: pointer;
}
.chart-body-end-icon {
  color: white;
  font-size: larger;
}

.card-footer {
  background-color: white;
}
.footer {
  background-color: rgb(133, 103, 103) !important;
  color: black !important;
  width: 18%;
  float: left;
  margin-left: 16px;
  /* background-color: red; */
}

.progress-xs {
  height: 4px;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.65625rem;
  border-radius: 0.25rem;
  background-color: #ebedef;
}

.bg-success {
  background-color: #2eb85c !important;
  width: 40%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  color: #fff;
  background-color: #321fdb;
}
