.card {
  width: 22% !important;
  margin-left: 25px;
  color: white;
  height: 160px;
}

.card-1 {
  background-image: linear-gradient(45deg, #321fdb, #1f1498);
}
.card-2 {
  background-image: linear-gradient(45deg, #39f, #2982cc);
}
.card-3 {
  background-image: linear-gradient(45deg, #f9b115, #f6960b);
}
.card-4 {
  background-image: linear-gradient(45deg, #e55353, #d93737);
}

.card-value {
  font-size: larger;
  font-weight: 600;
}

.card-information {
  width: 80%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.card-icon {
  display: inline;
  position: relative;
  bottom: 20px;
  right: 20px;
}
