.card-undefined {
  width: 22%;
  margin-left: 25px;
  float: left;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px #ddeaf7;
}
.card-undefined-information {
  margin: 10px 0;
}
.card-undefined-information-under {
  width: 49.6%;
  float: left;
  text-align: center;
}
.card-undefined-information-under-text {
  font-size: smaller;
}
.card-header {
  height: 95px;
  text-align: center;
}
.card-header-1 {
  background-color: rgb(129, 150, 248);
}
.card-header-2 {
  background-color: rgb(132, 218, 252);
}
.card-header-3 {
  background-color: rgb(129, 150, 248);
}
.card-header-4 {
  background-color: rgb(244, 247, 91);
}

.card-header-icon {
  font-size: 45px;
  margin-top: 20px;
  background-color: white;
  height: 55px;
  width: 55px;
  padding-top: 5px;
  border-radius: 50%;
}
