.body-end {
  background-color: white;
  margin-left: 25px;
  margin-right: 35px;
  border-radius: 3px;
  color: rgb(29, 29, 29);
  margin-bottom: 30px;
  border-bottom: 0.5px solid #ebedef;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.body-end-header {
  font-size: 15px;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 10px !important;
}
.body-end-hr {
  background-color: #ebedef;
  height: 1px;
}
.body-end-body {
  margin: 20px auto;
}
.body-end-body-information {
  width: 24%;
  float: left;
  margin-left: 10.5px;
  padding-left: 25px;
}
.body-end-body-information-text {
  font-size: smaller;
}
.body-end-body-information-1 {
  border-left: 4px solid #39f;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.body-end-body-information-2 {
  border-left: 4px solid #e55353;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.body-end-body-information-3 {
  border-left: 4px solid #f9b115;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.body-end-body-information-4 {
  border-left: 4px solid #2eb85c;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.body-end-body-rate {
  width: 49.6%;
  float: left;
  /* background-color: burlywood; */
}
.progress {
  height: 3px;
  margin-top: 3px;
}
.progress-group-text {
  float: left;
  width: 15%;
  font-size: smaller;
}
.progress-group-bars {
  float: left;
  width: 80%;
  margin-top: 4px;
}
.bg-info {
  background-color: #39f !important;
  width: 34%;
}
.bg-danger {
  background-color: #e55353 !important;
  /* width: 78%; */
}
.body-end-body-rate-left-row {
  margin-bottom: 20px !important;
}
.bg-warning {
  background-color: #f9b115;
}
.bg-warning-3 {
  background-color: #2eb85c;
}
.body-end-body-rate-right-row {
  margin-bottom: 16px;
}
.body-end-body-rate-right-row-1 {
  display: inline;
  margin-bottom: 3px !important;
}
.body-end-body-rate-right-icon {
  float: left;
  margin-right: 8px;
  margin-left: 5px;
}
.body-end-body-rate-right-information {
  float: left;
  width: 79%;
  font-size: 90%;
  padding-top: 2px;
}
.body-end-body-rate-right-rate {
  float: left;
  font-size: 12px;
  font-weight: 700;
  padding-top: 5px;
}
.note {
  text-align: center;
}
.px {
  position: relative;
  top: 4px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
}
.px-1 {
  background-color: #39f;
}
.px-2 {
  background-color: #e55353;
}
.badge-info {
  background-color: #39f;
}
.badge-danger {
  background-color: #e55353;
}
